{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-detail.css' %}" />
{% endblock %} {% block content %}
<section class="book-container">
  <div class="card">
    <div class="card-content">
      <h2 class="card-title">{{ book.name }}</h2>
      <div class="card-img-container">
        <img src="{{book.image}}" alt="{{book.name}}" />
      </div>

      <p>Written by {{ book.author }}</p>
      <p>Published in {{book.year_published}}</p>
      <p>{{ book.description }}</p>
      <div class="book-actions">
        <a href="{% url 'book-update' book.id %}" class="btn warn">Edit</a>
        <a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>
<section class="reviews">
  <h3>Add a Review</h3>
<form action="{% url 'add-review' book.id %}" method="post" class="subsection-content" autocomplete="off">
  {% csrf_token %} 
  {{ review_form.as_p }}
  <button type="submit" class="btn submit">Add Review</button>
</form>
  <div class="subsection-title">
    <h2>Reviews</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Rating</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      {% for review in book.review_set.all %}
        <tr>
          <td>{{review.get_rating_display}}</td>
          <td>{{review.comment}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
