{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-detail.css' %}" />
{% endblock %} {% block content %}
<section class="book-container">
  <div class="card">
    <div class="card-content">
      <h2 class="card-title">{{ book.name }}</h2>
      <div class="card-img-container">
        <img src="{{book.image}}" alt="{{book.name}}" />
      </div>

      <p>Written by {{ book.author }}</p>
      <p>Published in {{book.year_published}}</p>
      <p>{{ book.description }}</p>
      <div class="book-actions">
        <a href="{% url 'book-update' book.id %}" class="btn warn">Edit</a>
        <a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>

<section class="rating">
  <h3>Rate This Book</h3>
<form action="{% url 'add-rating' book.id %}" method="post" class="subsection-content" autocomplete="off">
  {% csrf_token %} 
  {{ rating_form.as_p }}
  <button type="submit" class="btn submit">Add Rating</button>
</form>
  <div class="subsection-title">
    <h2>Rating</h2>
  </div>
  {% if book.rating_set.all.count %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for rating in book.rating_set.all %}
        <tr>
          <td>{{rating.date}}</td>
          <td>{{rating.get_rating_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No ratings yet</p>
  {% endif %}
</section>

<section class="notes">
  <h3>Add a Comment</h3>
<form action="{% url 'add-note' book.id %}" method="post" class="subsection-content" autocomplete="off">
  {% csrf_token %} 
  {{ comment_form.as_p }}
  <button type="submit" class="btn submit">Add Comment</button>
</form>
  <div class="subsection-title">
    <h2>Comments</h2>
  </div>
  {% if book.comment_set.all.count %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Comments</th>
      </tr>
    </thead>
   
    <tbody>
      {% for comment in book.comment_set.all %}
        <tr>
          <td>{{comment.date}}</td>
          <td>{{comment.comment}}</td>
        </tr>
      {% endfor %}
    </tbody>
   
  </table>
  {% else %}
  <p>No comments yet</p>
  {% endif %}
</section>
{% endblock %}
